@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');

.typewriter h1 {
  overflow: hidden; 
  border-right: .15em solid #A8A5E6; 
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .15em;
  font-weight: 400;
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #A8A5E6; }
}

* {
  box-sizing: border-box;
}

body {
  background-color: #eec0c6;
  background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
  
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
}

.typewriter p {
  margin-bottom: 30px;
  font-size: 50px;
}

.container {
  margin-top: 50px;
}

button {
  all: unset;
  margin-top: 2.4em;
  border: 2px solid white;
  padding: 1em 10em;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  font-weight: 500;
}

button:hover {
  background-color: #A8A5E6;
}

input {
  width: 100%;
  background: transparent;
  border: 0;
  border-bottom: 1px solid;
  padding: 1em 0 .8em;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  color: inherit;
  outline: none;
}

#resultado {
  font-size: 50px;
  padding: 20px;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

